body{
    height: 5000px;
    font-family: "Raleway", Helvetica;
    overflow-x: hidden;
}

.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    z-index: 0;
}

.navbar{
    background-color: rgba(0, 0, 0, .5);
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.button-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    position: relative;
    background-color: var(--primarygold-dark);
    border-radius: 0px 10px 10px 10px;
    overflow: hidden;
}

.button-home .button {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
}


.logo {
    max-height: 50px; /* Adjust based on your preference */
    margin-right: 10px;
}

header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Optional divider line */
}

/* Adjust button sizes or styles as needed */
.btn-animate {
    padding: 5px 10px;
    margin-left: 5px; /* Space between buttons */
}

/* Adjust this as per your container's styles */
.container {
    padding-top: 10px; /* Reducing padding to accommodate header */
}

.table {
    background-color: #fff; /* Adjust color as per your design */
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Hover effect for rows */
}

.btn-sm {
    padding: 0.25rem 0.5rem; /* Smaller button padding */
    font-size: 0.875rem; /* Smaller font size for button */
}

/* Additional styling for table headers, borders, etc., can be added here */

/*search baar style*/


